<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <!-- 正式使用 -->
    <link href="{{url_for('static', filename='styleForThankPage.css')}}" rel="stylesheet" type="text/css" />
    <!-- The line below is for font-family:'Noto Sans TC';  Reference:https://www.w3schools.com/howto/tryit.asp?font=Noto%20Sans%20TC-->
    <link href="https://fonts.googleapis.com/css?family=Noto Sans TC" rel="stylesheet" />
    <title>Taipei One Day Trip Thank You</title>


</head>

<body>
    <div id="signInPopup" class="popup">{% include 'signIn.html' %}</div>
    <div id="registerPopup" class="popup">{% include 'register.html' %}</div>
    <nav class="navCheckbox">{% include 'header.html' %}</nav>
    <main>
        <div class="thankyouContainer">
            <div class="successIcon"></div>
            <div class="failIncon"></div>
            <div class="thankTitle">
                <p class="orderMsg"></p>
            </div>
            <div class="extraInfo">
                <table>
                    <tr calss="number">
                        <td class="first">訂單編號: </td>
                        <td class="second number1"></td>
                    </tr>
                    <tr class="price">
                        <td class="first">訂單價格: </td>
                        <td class="second number2"></td>
                    </tr>
                    <tr class="name">
                        <td class="first">景點名稱: </td>
                        <td class="second number3"></td>
                    </tr>
                    <tr class="address">
                        <td class="first">景點地址: </td>
                        <td class="second number4"></td>
                    </tr>
                    <tr class="date">
                        <td class="first">行程日期: </td>
                        <td class="second number5"></td>
                    </tr>
                    <tr class="time">
                        <td class="first">當日時段: </td>
                        <td class="second number6"></td>
                    </tr>
                </table>
                <div class="reminderInfo">
                    <p>如有任何問題 請撥打客服專線：0987 770 770</p>
                    <p>期待與您相見</p>
                    <button class="returnBtn" onclick=""></button>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div id="forNewFooter">
            <div class="footerBox">{% include 'footer.html' %}</div>
            <div class="newFooterForAskLoginInfo">
                <div></div>
            </div>
        </div>
    </footer>

    <script src="{{url_for('static', filename='popupAndMembership.js')}}"></script>
    <script src="{{url_for('static', filename='thanksPageForFetchApi.js')}}"></script>
    <!-- <script src="/static/bookingForFetchApi.js"></script> -->

</body>

</html>